@font-face {
    font-family: 'coolvetica';
    src: url:fonts/coolvetica.ttf};
    font-style: normal;
    font-weight: 100;
}



.container1 {
	max-height: 2px;
}

p {
    font-family: coolvetica;
    font-weight: 100;
    text-align: center;
}

body {
	background-color: white
	padding: 0%;
	margin: 0%;
}

header {
	background-color: white;
	color: white;
}

header h1 {
	color:black;
}

nav {
	background-color: white
	color: white;
}

/* boxes */

#leftbox {
    float:left; 
    width:50%;
    height:100px;
}

#rightbox {
    float:left;
    width:50%;
    height:100px;
}

/* drop-down */

nav li ul {
	padding: 0px;
	position: absolute;
	margin-left: 0px;
	margin-top: 10px
}

nav li ul li {
	display: block;
	padding: 10px;
	width: 88%;
}

/* Hover and reveal dropdown*/
nav li:hover .hidden {
	opacity: 1;
}

.hidden {
	opacity: 0;
	transition: all 0.5s ease;
}


/* navigation boxes vvv */

nav ul li {
	display: inline-block;
	margin: 0 5%;
	color: white;
}

nav ul li a {
	display: block;
	padding: 10px;
	color: white;
	text-decoration: none;
}

nav ul {
	margin: 0px;
	color: rgb(201, 201, 201);
	background-color: rgb(165, 165, 165);
}

li :hover {
	color: black;
}

/* navigation boxes ^^^ */

div {
	background-color: white;
    text-align: center;
}

footer {
	background-color:white;
	height: 50%
}